@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-josefin;
    background: #fafafa;
  }
}

@layer components {
  .light {
    @apply bg-[url('assets/images/bg-mobile-light.jpg')] 
    md:bg-[url('assets/images/bg-desktop-light.jpg')]
    bg-no-repeat bg-contain;
  }

  .dark {
    @apply bg-slate-900
    bg-[url('assets/images/bg-mobile-dark.jpg')] 
    md:bg-[url('assets/images/bg-desktop-dark.jpg')]
    bg-no-repeat bg-contain;
  }

  .btn {
    @apply h-5
    w-5 
    rounded-full
    border-solid
    border-2;
  }

  .todos {
    @apply flex
    justify-between
    items-center
    shadow-lg
    bg-white
    p-2
    gap-3;
    border-bottom: 1px solid rgb(204, 201, 201);
  }

  .todos:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  @keyframes loading {
    from {
      transform: rotate(0) scale(1.2);
    }

    to {
      transform: rotate(1turn) scale(1.2);
    }
  }

  .load {
    border-radius: 50%;
    padding: 1rem;
    border: 2px solid rgb(224, 221, 221);
    position: relative;
  }

  .load::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 3px solid rgb(14, 13, 13);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: 0.8s linear infinite alternate loading;
  }
}
